<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>RE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/menu' routerLinkActive='active'>Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/order' routerLinkActive='active'>Order</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
