<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-item lines="none">
        <ion-label>
          <h1>Breakfast</h1>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="4" *ngFor="let menu of menus">
        <ion-card >
          <ion-card-header>
            <h2>{{ menu.name }}</h2>
          </ion-card-header>
          <ion-card-content>
            <p>{{ menu.foods }}</p>
            <p>{{ menu.drinks }}</p>
            <p>{{ menu.allergens}}</p>
            <p><ion-badge color="primary">{{ menu.price}} Ft</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
